@{
    ViewData["Title"] = "List";
}

    <div class="row">
        <h2>List</h2>
        <div id="clientList"></div>
    </div>

<script type="text/x-kendo-template" id="template">
    <div class='account-details'>
                <ul>
                    <li><label>Details:</label>#= HooversDescription #</li>
                </ul>
    </div>

</script>

        @section scripts {
            <script src="~/js/app/views/client/List.js"></script>
        }


