<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../images/X_Icon.ico" />

    <title>Account Executive Portal</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />       
        <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
        <link href="~/lib/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />

        <link href="~/lib/kendo-ui/styles/kendo.common-bootstrap.css" rel="stylesheet" />
        <link href="~/lib/kendo-ui/styles/kendo.bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/custom.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <div id="page_footer">
        @if (IsSectionDefined("Footer"))
            {
                RenderSection("Footer", false);
            }
            else
            {
            <div class="foot_left">Account Executive Dashboard - Version 2.01</div>
                <div class="foot_right">Copyright &copy; 2017. Xerox Corporation. All Rights Reserved.</div>
        }

    </div>



    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <script src="~/lib/morris.js/morris.js"></script>
        <script src="~/lib/sb-admin-2/js/sb-admin-2.js"></script>
        <script src="~/js/app/SiteCommon.js"></script>
        <!-- Custom Theme JavaScript -->

    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery-1.10.2.min.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <!-- Page-Level Scripts -->
    @RenderSection("scripts", false);
</body>
</html>
