
<!-- Navigation -->
    <div class="">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://xerox.com">
                        <img src="~/images/X_Logo.png" alt="Xerox">
                    </a>
                    <a class="navbar-brand" href="#">Account Executive Portal</a>
                </div>
                <div id="navbar2" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Support">Support</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @await Component.InvokeAsync("UserNameWidget")
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    </div>
    <!-- /.navbar-header -->

    <!-- /.navbar-static-side -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> <strong>Clients</strong></span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a asp-controller="Client" asp-action="MyClients">My Clients</a>
                        </li>
                        <li>
                            <a asp-controller="Client" asp-action="List">All Clients</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <span><i class="fa fa-edit fa-fw"></i> <strong>Reviews</strong></span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a href="#">Executive</a>
                        </li>
                        <li>
                            <a href="#">QBR</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="fa fa-gears fa-fw"></i> <strong>Maintenance</strong></span>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Account Management</a>
                        </li>
                        <li>
                            <a href="#">User Management</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> <!-- /.navbar-static-side -->

